WEB_IMAGE=aureofjunior/evangelionerpv2-repository:latest
WORKER_ORDER_IMAGE=aureofjunior/evangelionerpv2-worker-order:latest
WORKER_EMAIL_IMAGE=aureofjunior/evangelionerpv2-worker-email:latest

WEB_HOST_PORT=5000
NGINX_HOST_PORT=8082
ASPNETCORE_ENVIRONMENT=Production

EVA_CONN_STR=evangelion/prd/database:DefaultConnection
EVA_REDIS_INSTANCE=evangelion/prd/redis-name:instancename
EVA_REDIS_CONNECTION=evangelion/prd/redis:ConnectionString
EVA_ENCRYPTION_KEY=evangelion/prd/encryptionkey:key
EVA_TOKEN_KEY=evangelion/prd/encryptiontokenkey:key
EVA_AWS_SECRET_NAME=AWSCredentials
EVA_WORKER_SELF_API_AUTH=evangelion/prd/selfapilogin:log
EVA_RABBITMQ_HOSTNAME=evangelion/prd/rabbitmq-host:hostname
EVA_RABBITMQ_USERNAME=evangelion/prd/rabbitmq-user:username
EVA_RABBITMQ_PASSWORD=evangelion/prd/rabbitmq-pass:password
EVA_RABBITMQ_VHOST=evangelion/prd/rabbitmq-vhost:vhost
EVA_RABBITMQ_PORT=evangelion/prd/rabbitmq-port:port
EVA_RABBITMQ_URI=evangelion/prd/rabbitmq:uri
