WEB_IMAGE=evangelionerpv2-web
WORKER_ORDER_IMAGE=evangelionerpv2-worker-order
WORKER_EMAIL_IMAGE=evangelionerpv2-worker-email

WEB_HOST_PORT=8080
NGINX_HOST_PORT=8082
ASPNETCORE_ENVIRONMENT=Development

EVA_CONN_STR=evangelion/dev/database:DefaultConnection
EVA_REDIS_INSTANCE=evangelion/dev/redis-name:instancename
EVA_REDIS_CONNECTION=evangelion/dev/redis:ConnectionString
EVA_ENCRYPTION_KEY=evangelion/dev/encryptionkey:key
EVA_TOKEN_KEY=evangelion/dev/encryptiontokenkey:key
EVA_AWS_SECRET_NAME=AWSCredentials
EVA_WORKER_SELF_API_AUTH=evangelion/dev/selfapilogin:log
EVA_RABBITMQ_HOSTNAME=evangelion/dev/rabbitmq-host:hostname
EVA_RABBITMQ_USERNAME=evangelion/dev/rabbitmq-user:username
EVA_RABBITMQ_PASSWORD=evangelion/dev/rabbitmq-pass:password
EVA_RABBITMQ_VHOST=evangelion/dev/rabbitmq-vhost:vhost
EVA_RABBITMQ_PORT=evangelion/dev/rabbitmq-port:port
EVA_RABBITMQ_URI=evangelion/dev/rabbitmq:uri

AWS_CREDENTIALS_DIR=C:/Users/<your-user>/.aws
AWS_PROFILE=default
AWS_REGION=us-east-1
AWS_EC2_METADATA_DISABLED=true
